<!DOCTYPE html>
<html>
    <head>
        <title>PinLamp Editor</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" >
        <script src="/js/main.js" ></script>
    </head>
    <body>
        <div id="main">
            <div id="playfield">
				<img src="img/playfield.jpg" />
				<div id="l1" class="circle">&nbsp;</div>
				<div id="l2" class="circle">&nbsp;</div>
				<div id="l3" class="circle">&nbsp;</div>
				<div id="l4" class="circle">&nbsp;</div>
				<div id="l5" class="circle">&nbsp;</div>
				<div id="l6" class="circle">&nbsp;</div>
				<div id="l7" class="circle">&nbsp;</div>
				<div id="l8" class="circle">&nbsp;</div>
				<div id="l9" class="circle">&nbsp;</div>
				<div id="l10" class="circle">&nbsp;</div>
				<div id="l11" class="circle">&nbsp;</div>
				<div id="l12" class="circle">&nbsp;</div>
				<div id="l13" class="circle">&nbsp;</div>
				<div id="l14" class="circle">&nbsp;</div>
				<div id="l15" class="circle">&nbsp;</div>
				<div id="l16" class="circle">&nbsp;</div>
				<div id="l17" class="circle">&nbsp;</div>
				<div id="l18" class="circle">&nbsp;</div>
				<div id="l19" class="circle">&nbsp;</div>
				<div id="l20" class="circle">&nbsp;</div>
				<div id="l21" class="circle">&nbsp;</div>
				<div id="l22" class="circle">&nbsp;</div>
				<div id="l23" class="circle">&nbsp;</div>
				<div id="l24" class="circle">&nbsp;</div>
				<div id="l25" class="circle">&nbsp;</div>
				<div id="l26" class="circle">&nbsp;</div>
				<div id="l27" class="circle">&nbsp;</div>
				<div id="l28" class="circle">&nbsp;</div>
				<div id="l29" class="circle">&nbsp;</div>
				<div id="l30" class="circle">&nbsp;</div>
				<div id="l31" class="circle">&nbsp;</div>
				<div id="l32" class="circle">&nbsp;</div>
			</div>
        </div>
    </body>
</html>